{% extends 'layout.html' %}
{% block content %}

<div class="index-box">
    <h1 class="title" id="myID">snoopso</h1>
    <h4 class="title">Recommends</h4>
    <div class="row" id="listRecommends">
    </div>
    <h4 class="title">Followings <span id="followingNum"><span></h4>
    <div class="row" id="listFollowings">
    </div>
    <h4 class="title">Followers (12)</h4>
    <div class="row">
        <div class="col-sm-3">
            {% include 'components/cardFollowers.html' %}
        </div>
    </div>
</div>

{% endblock %}