* {
    font-family: 'Jua', sans-serif;
}

.main {
    width: 100%;
    height: 1000px;

    background: #18191C;


}

.logo_connect_dev {
    background-color: transparent;
    position: static;
    width: 109px;
    height: 26px;
    margin-left: 50px;
    margin-top: 37px;

    line-height: 145%;

    text-align: center;

    color: #FFFFFF;
}


nav {
    float: right;
}

.col {
    text-align: center;

}

.button1 {
    border-radius: 40px;
    color: purple;


}

/*카드 개별로 텍스트 정렬 후, 폰트와 블록 색깔을 바꿨으나 변하지 않음*/
/*카드 안의 내용 폰트, 색깔을 바꾸지 못했음*/

header {

}

.topbar a {
    float: left;
    text-align: center;
    color: #f2f2f2;

    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topbar a:hover {
    background-color: #ddd;
    color: black;
}

.num > button {
    border-radius: 40px;
}

.col {

}

.mytitle {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.stack {
    margin-right: 200px;
}

.stack > button {
    float: right;
    border-radius: 20px;
    margin: 10px;
    margin-top: 60px;


}

.mycards {
    margin: 200px;


}

.card {
    background: rgba(255, 255, 255, 0.05);
    color: white;


}

.col {


}

.topbar > button {
    background-color: black;
    color: white;
    margin-top: 10px;
}