
header {
    background: #18191C;
    height: 150px;
    color: white;
}

.profile {
    position: absolute;
    margin-top: 60px;
    margin-left: 850px;
}

/*main {*/
/*    background: #18191C;*/
/*    min-height: 700px;*/
/*}*/

/*footer {*/
/*    background: #18191C;*/
/*    height: 100px;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/

.container {
    width: 700px;
    height: 900px;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}

.introbox {
    width: 700px;
    height: 350px;
    color: white;
}

.intromy {
    margin-top: 40px;
    margin-left: 40px;
}

.inputname {
    width: 563px;
    height: 37px;
    margin-top: 30px;
    margin-left: 55px;
    padding-left: 10px;

    font-size: 20px;
    line-height: 160px;
    opacity: 0.5;
    color: white;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}

.inputjob {
    width: 563px;
    height: 37px;
    margin-top: 30px;
    margin-left: 55px;
    padding-left: 10px;

    font-size: 20px;
    line-height: 160px;
    opacity: 0.5;
    color: white;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}

.inputcomment {
    width: 563px;
    height: 74px;
    margin-top: 30px;
    margin-left: 55px;
    padding-left: 10px;

    font-size: 20px;
    line-height: 160px;
    opacity: 0.5;
    color: white;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}

.stackbox {
    width: 700px;
    height: 150px;
    margin-left: 40px;

    color: white;
    font-size: 30px;
}

.stack1 {
    position: absolute;
    width: 140px;
    height: 50px;
    margin-top: 60px;
    margin-left: -70px;

    text-align: center;
    font-size: 30px;
    line-height: 160%;
    opacity: 0.6;
    color: white;

    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 100px;
}

.stack2 {
    position: absolute;
    width: 140px;
    height: 50px;
    margin-top: 60px;
    margin-left: 120px;

    text-align: center;
    font-size: 30px;
    line-height: 160%;
    opacity: 0.6;
    color: white;

    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 100px;
}

.stack3 {
    position: absolute;
    width: 140px;
    height: 50px;
    margin-top: 60px;
    margin-left: 310px;

    text-align: center;
    font-size: 30px;
    line-height: 160%;
    opacity: 0.6;
    color: white;

    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 100px;
}

.linkbox {
    width: 700px;
    height: 400px;
    margin-left: 40px;

    color: white;
    font-size: 30px;
}

.links {
    position: absolute;
    top: 20px;
    right: 50px;
}

.link_text {
    font-size: 20px;
    margin-left: 20px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 50px;

    font-size: 30px;
}

/*li {*/
/*    display: inline-block;*/
/*}*/

.url1 {
    position: absolute;
    width: 563px;
    height: 50px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: -40px;

    font-size: 20px;
    line-height: 160px;
    opacity: 0.5;
    color: white;

    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 8px;
}

.url2 {
    position: absolute;
    width: 563px;
    height: 50px;
    padding-left: 10px;
    margin-top: 130px;
    margin-left: -40px;

    font-size: 20px;
    line-height: 160px;
    opacity: 0.5;
    color: white;

    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 8px;
}

.url3 {
    position: absolute;
    width: 563px;
    height: 50px;
    padding-left: 10px;
    margin-top: 200px;
    margin-left: -40px;

    font-size: 20px;
    line-height: 160px;
    opacity: 0.5;
    color: white;

    background: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 8px;
}

/*.btn {*/
/*    position: absolute;*/
/*    width: 148px;*/
/*    height: 38px;*/
/*    margin-top: 280px;*/
/*    margin-left: 170px;*/

/*    font-size: 20px;*/
/*    line-height: 140%;*/
/*    color: #FFFFFF;*/

/*    background: #7D24CF;*/
/*    border-radius: 100px;*/
/*}*/
