{% extends 'layout.html' %}
{% block content %}

<div class="main">
{#    <nav>#}
{#        <div class="topbar">#}
{#            <button onclick="login()">로그인</button>#}
{#            <button onclick="register()">가입하기</button>#}
{#        </div>#}
{#    </nav>#}
    <h1 class="mytitle">새로운 개발자 친구를 만나보세요!</h1>
{#    <div class="stack">#}
{#        <button type="button" class="btn btn-secondary btn-lg" disabled>Sping</button>#}
{#        <button type="button" class="btn btn-secondary btn-lg" disabled>Node.js</button>#}
{#        <button type="button" class="btn btn-secondary btn-lg" disabled>React</button>#}
{#    </div>#}
    <div class="mycards">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="cards-box">
{#            <div class="col">#}
{#                <div class="card h-100">#}
{#                    <div class="card-body">#}
{#                        <h5 class="name">${name}</h5>#}
{#                        <p class="job">${job}</p>#}
{#                        <p class="mycommnt">${comment}</p>#}
{#                        <div class="num">#}
{#                            <button type="button" class="test" disabled>${num}</button>#}
{#                            <button type="button" class="test" disabled>${num}</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
    <!--민경-->
    <div class="row" id="listRecommends">
    </div>
</div>

<script>
        $(document).ready(function () {
            $("#beforeLoginNab").addClass("hide");
            $("#afterLoginNab").removeClass("hide");
            listing();

        });



        function listing() {
            $('#cards-box').empty()
            $.ajax({
                type: 'GET',
                url: '/test',
                data: {},
                success: function (response) {
                    console.log(response)
                    let myid = response['id']
                    console.log(myid)
                    let rows = response['moons']
                    console.log(rows)
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let job = rows[i]['job']
                        let comment = rows[i]['comment']
                        let num = rows[i]['num']
                        let id = rows[i]['id']
                        console.log(id)
                        if (myid == id) {
                            let temp_html = ``;
                        }
                        else {
                            let temp_html = `<div class="col">
                                            <a class="card h-100 cardBtn" onclick="profileEach(this.id)" id="${id}">
                                                <div class="card-body">
                                                    <h5 class="name">${name}</h5>
                                                    <p class="job">${job}</p>
                                                    <p class="mycommnt">${comment}</p>
                                                    <div class="num">
                                                        <button type="button" class="test">${num}</button>
                                                    </div>

                                                </div>
                                            </a>
                                        </div>`
                            $('#cards-box').append(temp_html)
                        }

                        }
                    }
            });
        }

    </script>

{% endblock %}