{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1 class="profile">프로필 만들기</h1>
    <div class="introbox">
        <h5 class="intromy">자기소개</h5>
        <input id="name" class="inputname" type="text" placeholder="이름을 입력하세요">
        <input id="job" class="inputjob" type="text" placeholder="직무명을 입력하세요">
        <input id="comment" class="inputcomment" type="text" placeholder="소개글을 입력하세요">
    </div>
    <div class="stackbox">기술 스택
        <button class="stack1" onclick="react()">React</button>
        <button class="stack2" onclick="node()">Node.js</button>
        <button class="stack3" onclick="spring()">Spring</button>
    </div>
    <div class="linkbox">링크
        <input class="url1" id="url1" placeholder="url을 입력하세요">
        <input class="url2" id="url2" placeholder="url을 입력하세요">
        <input class="url3" id="url3" placeholder="url을 입력하세요">
        <button class="btn" onclick="complete()">작성 완료</button>
    </div>
</div>
<script>
    function react() {
        let stack1 = "React"
        alert('React 선택')
        return num = stack1

    }

    function node() {
        let stack1 = "Node.js"
        alert('Node.js 선택')
        return num = stack1
    }

    function spring() {
        let stack1 = "Spring"
        alert('spring 선택')
        return num = stack1
    }

    function complete() {
        let name = $('#name').val()
        let job = $('#job').val()
        let comment = $('#comment').val()
        let url1 = $('#url1').val()
        let url2 = $('#url2').val()
        let url3 = $('#url3').val()
        console.log(num, name, job, comment, url1, url2, url3)

        $.ajax({
            type: 'POST',
            url: '/profile_mk_post',
            data: {
                num_give: num,
                name_give: name,
                job_give: job,
                comment_give: comment,
                url1_give: url1,
                url2_give: url2,
                url3_give: url3
            },
            success: function (response) {
                alert(response['msg'])
                location.href = "/profile"
            }
        });
    }
</script>
{% endblock %}