{% extends 'layout.html' %}
{% block content %}
    <body>
    <header>
        <div class="links">
            <a href="/profile" class="link_text">내 프로필</a>
            <a href="/profile" class="link_text">팔로우 리스트</a>
            <a href="/" class="link_text">로그아웃</a>
        </div>
        <a class="logo" href="/">Connect_dev</a>
    </header>
    <main>
        <div class="container">
            <div class="introbox">
                <button class="btn" onclick="location.href='/profile_revise'">수정하기</button>
                <div class="name" id="name"></div>
                <div class="job" id="job"></div>
                <ul>
                    <li class="follower">팔로워</li>
                    <li class="following">팔로잉</li>
                </ul>
                <div class="comment" id="comment"></div>
            </div>
            <div class="stackbox">기술 스택
                <div class="stack" id="num"></div>
            </div>
            <div class="linkbox">링크
                <p id="url1"></p>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function () {
            profile_upload();
        });

        function follow_list() {
        }

        function logout() {
        }

        function profile_upload() {
            $.ajax({
                type: 'GET',
                url: '/profile_main',
                data: {},
                success: function (response) {
                    let name, job, comment, num, url1, url2, url3;
                    let row = response['profiling']
                    // console.log(row)
                    for (let i = 0; i < row.length; i++) {
                        name = row[i]['name']
                        // if문을 넣어서 id값으로 해당id의 정보만 출력하기
                        if (name == $.cookie('mytoken', response['token'])) {
                            job = row[i]['job']
                            num = row[i]['num']
                            comment = row[i]['comment']
                            url1 = row[i]['url1']
                            url2 = row[i]['url2']
                            url3 = row[i]['url3']
                            console.log(url2, url3)
                            // 이름입력
                            let name_html = `${name}`
                            $('#name').append(name_html)
                            let job_html = `${job}`
                            $('#job').append(job_html)
                            let comment_html = `${comment}`
                            $('#comment').append(comment_html)
                            // 팔로우수 팔로워수 추가해야함
                            let num_html = `${num}`
                            $('#num').append(num_html)
                            let url1_html = `<a href="${url1}" class="url1">${url1}</a>`
                            $('#url1').append(url1_html)
                            let url2_html = `<a href="${url2}" class="url2">${url2}</a>`
                            $('#url1').append(url2_html)
                            let url3_html = `<a href="${url3}" class="url3">${url3}</a>`
                            $('#url1').append(url3_html)
                        }

                    }
                }
            })
        }
    </script>

{% endblock %}